.para1{font-size: 0; text-align:left; padding-bottom:98px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Avenir-Black', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 45px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'ArialUnicodeMS', 'Arial Unicode MS' ,'Arial' ,sans-serif ;
 font-size: 32px; 
 font-weight:700; 
 color: #FE7D77;
 word-wrap: break-word;}
.para5{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style6{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #919191;
 word-wrap: break-word;}
.Style7{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 32px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.para8{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style9{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 22px; 
 color: #FFFEFE;
 word-wrap: break-word;}
.Style10{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style11{font-family:  'AvenirNext-Bold', 'Avenir Next' ;
 font-size: 35px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style12{font-family:  'AvenirNext-Bold', 'Avenir Next' ;
 font-size: 35px; 
 font-weight:700; 
 color: #5E5E5D;
 word-wrap: break-word;}
.para13{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style14{font-family:  'AvenirNext-Bold', 'Avenir Next' ;
 font-size: 30px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style15{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #FEFEFE;
 opacity: 0.8; 
 filter:alpha(opacity=80);
 word-wrap: break-word;}
.Style16{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 28px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style17{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 color: #A9A9A8;
 opacity: 0.7; 
 filter:alpha(opacity=70);
 word-wrap: break-word;}
.linkStyle_18{font-family:  'Avenir-Light', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 font-weight:300; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_18:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_18:hover{color:#FEFEFE; text-decoration:underline;}
.Style21{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style22{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #D5D5D4;
 word-wrap: break-word;}
.Style23{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 color: #919190;
 word-wrap: break-word;}
.Style24{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 17px; 
 color: #FEFEFE;
 opacity: 0.8; 
 filter:alpha(opacity=80);
 word-wrap: break-word;}
.Style25{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #D5D5D4;
 word-wrap: break-word;}
.linkStyle_26{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FF2600 */
 word-wrap: break-word;}
.linkStyle_26:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_26:hover{color:#FF2600; text-decoration:underline;}
.Style29{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 margin:0;
 color: #D5D5D4;
 word-wrap: break-word;}
.Style30{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 24px; 
 color: #FFFEFE;
 word-wrap: break-word;}
.Style31{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 22px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style32{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 color: #929191;
 opacity: 0.7; 
 filter:alpha(opacity=70);
 word-wrap: break-word;}
.linkStyle_33{font-family:  'Avenir-Light', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 font-weight:300; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FF2600 */
 word-wrap: break-word;}
.linkStyle_33:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_33:hover{color:#FF2600; text-decoration:underline;}
.Style36{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style37{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style38{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 margin:0;
 color: #C0C0BF;
 word-wrap: break-word;}
.Style39{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style40{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #929191;
 word-wrap: break-word;}
.Style41{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_42{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FF2600 */
 word-wrap: break-word;}
.linkStyle_42:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_42:hover{color:#FF2600; text-decoration:underline;}
.Style45{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FE7D77;
 word-wrap: break-word;}
.Style46{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.Style47{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 80px; 
 font-weight:700; 
 color: #2D2D2D;
 word-wrap: break-word;}
.Style48{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 margin:0;
 color: #656565;
 word-wrap: break-word;}
.para49{font-size: 0; text-align:left; padding-bottom:0px; padding-top:21px;}
.Style50{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #656565;
 word-wrap: break-word;}
.Style51{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #FFFEFE;
 word-wrap: break-word;}
.linkStyle_52{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 margin:0;
 color: #FE7D77;
 word-wrap: break-word;}
.linkStyle_52:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_52:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_55{font-family:  'AvenirNext-Bold', 'Avenir Next' ;
 font-size: 16px; 
 font-weight:700; 
 color: #FE7D77;
 text-decoration: none; 
 /* 1 1 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_55:visited{color:#FE7D77; text-decoration:none;}
.linkStyle_55:hover{color:#FEFEFE; text-decoration:none;}
.Style58{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 150px; 
 font-weight:700; 
 color: #5D5D5D;
 word-wrap: break-word;}
.Style59{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 400px; 
 font-weight:700; 
 color: #FFFEFE;
 word-wrap: break-word;}
.Style60{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #A9A9A8;
 word-wrap: break-word;}
.linkStyle_61{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_61:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_61:hover{color:#FEFEFE; text-decoration:underline;}
.Style64{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 margin:0;
 color: #A9A9A8;
 word-wrap: break-word;}
.linkStyle_65{font-family:  'Helvetica' ,sans-serif ;
 font-size: 17px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_65:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_65:hover{color:#FEFEFE; text-decoration:underline;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}