.para1{font-size: 0; text-align:left; padding-bottom:98px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Avenir-Black', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 45px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'ArialUnicodeMS', 'Arial Unicode MS' ,'Arial' ,sans-serif ;
 font-size: 32px; 
 font-weight:700; 
 color: #FE7D77;
 word-wrap: break-word;}
.para5{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style6{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #919191;
 word-wrap: break-word;}
.Style7{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 32px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.para8{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style9{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 22px; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style10{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style11{font-family:  'Montserrat-ExtraBold', 'Montserrat' ;
 font-size: 35px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style12{font-family:  'Montserrat-ExtraBold', 'Montserrat' ;
 font-size: 35px; 
 font-weight:700; 
 color: #5E5E5D;
 word-wrap: break-word;}
.para13{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style14{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #FEFEFE;
 opacity: 0.8; 
 filter:alpha(opacity=80);
 word-wrap: break-word;}
.Style15{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 28px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style16{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 color: #A9A9A8;
 opacity: 0.7; 
 filter:alpha(opacity=70);
 word-wrap: break-word;}
.linkStyle_17{font-family:  'Avenir-Light', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 font-weight:300; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_17:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_17:hover{color:#FEFEFE; text-decoration:underline;}
.Style20{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style21{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #D5D5D4;
 word-wrap: break-word;}
.Style22{font-family:  'Helvetica' ,sans-serif ;
 font-size: 16px; 
 color: #919190;
 word-wrap: break-word;}
.Style23{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 17px; 
 color: #FEFEFE;
 opacity: 0.8; 
 filter:alpha(opacity=80);
 word-wrap: break-word;}
.Style24{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #D5D5D4;
 word-wrap: break-word;}
.linkStyle_25{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FF2600 */
 word-wrap: break-word;}
.linkStyle_25:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_25:hover{color:#FF2600; text-decoration:underline;}
.Style28{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 margin:0;
 color: #D5D5D4;
 word-wrap: break-word;}
.Style29{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 24px; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style30{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 22px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style31{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 18px; 
 color: #929191;
 opacity: 0.7; 
 filter:alpha(opacity=70);
 word-wrap: break-word;}
.linkStyle_32{font-family:  'Avenir-Light', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 17px; 
 font-weight:300; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FF2600 */
 word-wrap: break-word;}
.linkStyle_32:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_32:hover{color:#FF2600; text-decoration:underline;}
.Style35{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style36{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style37{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 margin:0;
 color: #C0C0BF;
 word-wrap: break-word;}
.Style38{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style39{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #929191;
 word-wrap: break-word;}
.Style40{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_41{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FF2600 */
 word-wrap: break-word;}
.linkStyle_41:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_41:hover{color:#FF2600; text-decoration:underline;}
.Style44{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FE7D77;
 word-wrap: break-word;}
.Style45{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.Style46{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 77px; 
 font-weight:700; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style47{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 margin:0;
 color: #C0C0BF;
 word-wrap: break-word;}
.Style48{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_49{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 margin:0;
 color: #FE7D77;
 word-wrap: break-word;}
.linkStyle_49:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_49:hover{color:#FF2600; text-decoration:underline;}
.Style52{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 margin:0;
 color: #656565;
 word-wrap: break-word;}
.para53{font-size: 0; text-align:left; padding-bottom:0px; padding-top:21px;}
.Style54{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 19px; 
 color: #656565;
 word-wrap: break-word;}
.Style55{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 18px; 
 color: #FEFFFF;
 word-wrap: break-word;}
.linkStyle_56{font-family:  'Montserrat-Bold', 'Montserrat' ;
 font-size: 16px; 
 font-weight:700; 
 color: #FE7D77;
 text-decoration: none; 
 /* 1 1 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_56:visited{color:#FE7D77; text-decoration:none;}
.linkStyle_56:hover{color:#FEFEFE; text-decoration:none;}
.Style59{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #A9A9A8;
 word-wrap: break-word;}
.linkStyle_60{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_60:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_60:hover{color:#FEFEFE; text-decoration:underline;}
.Style63{font-family:  'AvenirNext-Regular', 'Avenir Next' ;
 font-size: 20px; 
 margin:0;
 color: #A9A9A8;
 word-wrap: break-word;}
.linkStyle_64{font-family:  'Helvetica' ,sans-serif ;
 font-size: 17px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FEFEFE */
 word-wrap: break-word;}
.linkStyle_64:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_64:hover{color:#FEFEFE; text-decoration:underline;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}