.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 45px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'ArialUnicodeMS', 'Arial Unicode MS' ,'Arial' ,sans-serif ;
 font-size: 32px; 
 font-weight:700; 
 color: #FE7D77;
 word-wrap: break-word;}
.Style5{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 color: #919191;
 word-wrap: break-word;}
.para6{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style7{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style8{font-family:  'Avenir-Black', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 90px; 
 font-weight:700; 
 color: #FE7D77;
 word-wrap: break-word;}
.Style9{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 19px; 
 color: #C0C0BF;
 word-wrap: break-word;}
.Style10{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 32px; 
 font-weight:700; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style11{font-family:  'Arial-Black', 'Arial Black' ,sans-serif ;
 font-size: 77px; 
 font-weight:700; 
 color: #FEFFFF;
 word-wrap: break-word;}
.Style12{font-family:  'Avenir-Light', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 19px; 
 font-weight:300; 
 margin:0;
 color: #656565;
 word-wrap: break-word;}
.para13{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style14{font-family:  'Avenir-Light', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 19px; 
 font-weight:300; 
 color: #656565;
 word-wrap: break-word;}
.Style15{font-family:  'Avenir-Black', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 40px; 
 font-weight:700; 
 color: #FE7D77;
 word-wrap: break-word;}
.Style16{font-family:  'Avenir-Black', 'Avenir' ,'Arial' ,sans-serif ;
 font-size: 55px; 
 font-weight:700; 
 color: #A9A9A8;
 word-wrap: break-word;}
.Style17{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #929191;
 word-wrap: break-word;}
.Style18{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FEFEFE;
 word-wrap: break-word;}
.Style19{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 margin:0;
 color: #FEFEFE;
 word-wrap: break-word;}
.linkStyle_20{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 color: #FE7D77;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FE7D77 #FE2500 */
 word-wrap: break-word;}
.linkStyle_20:visited{color:#FE7D77; text-decoration:underline;}
.linkStyle_20:hover{color:#FE2500; text-decoration:underline;}
.Style23{font-family:  'Helvetica' ,sans-serif ;
 font-size: 18px; 
 margin:0;
 color: #FE7D77;
 word-wrap: break-word;}
.Style24{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 color: #A9A9A8;
 word-wrap: break-word;}
.Style25{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 color: #FEFEFE;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}